#--------------------------------------------------------------------

[heater_fan Skirt_fan]           # Skirt fan 
pin: PF7                         # FAN-2
cycle_time: 0.00003              # Cycle time
shutdown_speed: 0.0              # Closing speed (Please do not change)
kick_start_time: 0.5             # start-up time (Please do not change)
heater: heater_bed               # Related equipment: heater_bed
heater_temp: 50                  # How many degrees does the heat bed reach to activate the fan
fan_speed: 0.5                   # Fan speed

#--------------------------------------------------------------------

#[controller_fan driver_fan]      # Driver cooling fan
#pin: PF6                         # Fan pin 
#cycle_time: 0.00003              # Cycle time
#max_power: 1.0                   # Maximum power
#shutdown_speed: 0.0              # Shutdown speed
#fan_speed: 0.8                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
#idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
#idle_speed: 0.4                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
#stepper: stepper_x               # Active motors
#Define the name of the heater/stepper configuration section associated with this fan. 
#If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
#The default heater is "extruder", and the default stepper is all steppers.

# Idea from https://klipper.discourse.group/t/how-to-get-the-controller-fan-to-turn-on-at-power-up/7313/7
# Also add to start and end macros:
# SET_FAN_SPEED FAN=electronics SPEED=1
# SET_FAN_SPEED FAN=electronics SPEED=0.1
[fan_generic electronics]
pin: PF6
cycle_time: 0.00003
hardware_pwm: true

[delayed_gcode start_fan_at_idle_speed]
initial_duration: 1.
gcode:
  SET_FAN_SPEED FAN=electronics SPEED=0.05

#--------------------------------------------------------------------

#Note: The following FAN0/FAN1/FAN2 settings are only applicable when using OrcaSlicer,
#as only OrcaSlicer allows for the additional configuration of parts cooling fans and filter fans. 
#If you use other slicing software, please comment out the following configurations.
# instead of using [fan], we define the default part cooling fan with [fan_generic] here
# this is the default part cooling fan

[fan_generic fan2]               # 12032 Auxiliary Part cooling Blower 
pin: PA0                         # Fan pin
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)

#--------------------------------------------------------------------

[fan_generic fan3]               # Fume_Pack Exhaust Fan
pin: PF9                         # Fan pin     
cycle_time: 0.00003              # Cycle time
hardware_pwm: false              # hardware pwm
kick_start_time: 0.5             # start-up time (Please do not change)

#--------------------------------------------------------------------
