#####################################################################
# 	                 Cartographer V3 （ADXL345）
#####################################################################

[mcu scanner]
canbus_uuid: 6521ba6cd2e9

[scanner]
mcu: scanner

#    adjust for your cartographers offset from nozzle to middle of coil
x_offset: 0                          
y_offset: 23                         

#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
# 
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
backlash_comp: 0.00489

mode: touch

sensor: cartographer
#    this must be set as cartographer unless using IDM etc.
sensor_alt: carto
#    alternate name to call commands. CARTO_TOUCH etc
scanner_touch_z_offset: 0.025         
#    This is the default and will be overwritten and added to the DO NOT SAVE area by using UI to save z offset
mesh_runs: 2
#    Number of passes to make during mesh scan.

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

# On the Cartographer
#[adxl345]
#cs_pin: scanner:PA3
#spi_bus: spi1
